@import '_mixins.scss';
@import '_bootstrap.scss';

body {
    text-align: center;
    background: #eeeeee;
}

header {
    ul.tabs {
        margin: 0 auto 20px auto;
    }
}
section#main {
    @include box-shadow(1, 1, 2, 0, rgba(0,0,0,0.6));

    margin: 0 auto;
    padding: 20px;
    width: 800px;
    background: white;
    text-align: left;
}