<script type="text/tmpl-javascript" id="tmpl-member-list-item">
    <td class="membership_number">
        <% if (membership_number) { %>
            #<%= membership_number %>
        <% } %>
    </td>
    <td class="name">
        <%
            var nameParts = [];
            if (first_name) {
                nameParts.push(first_name);
            }
            if (middle_name) {
                nameParts.push(middle_name);
            }
            if (last_name) {
                nameParts.push(last_name);
            }
        %>
        <a href="#clubs/<%= club_id %>/member/<%= id %>"><%= nameParts.join(' ') %></a>
        <% if (mobile) { %>
            <a class="btn btn-info btn-mini" href="tel:<%= mobile %>">tel</a>
        <% } %>
        <% if (email) { %>
            <a class="btn btn-info btn-mini" href="mailto:<%= email %>">
                <b>@</b>
            </a>
        <% } %>
    </td>
    <td>
        <div class="btn-group">
            <a class="btn edit" data-id="<%= id %>" href="#"><i class="icon-pencil"></i></a>
            <a class="btn remove" data-id="<%= id %>" href="#"><i class="icon-remove-sign"></i></a>
        </div>
    </td>
</script>