{% extends 'AapBluebirdsBundle::admin.html.twig' %}

{% block title %}Teams{% endblock %}

{% block section %}
    <a href="{{ path('team_list') }}" class="back">Back</a>
    <dl>
        <dt>Name:</dt>
        <dd>{{ team.name }}</dd>
        <dt>Club:</dt>
        <dd>{{ team.getClub().name }}</dd>
    </dl>
    <h2>Members</h2>
    {% render 'AapBluebirdsBundle:TeamMember:' ~ team_member_action with {'team_id': team.id} %}
{% endblock %}