{% extends 'AapBluebirdsBundle::layout.html.twig' %}

{% block header %}
    {% render 'AapBluebirdsBundle:Mainmenu:menuItems' %}

    <h1>{% block title %}{% endblock %}</h1>
{% endblock %}

{% block section %}
{% endblock %}
