{% extends '::base.html.twig' %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/aapbluebirds/styles/screen.css') }}">
{% endblock %}

{% block body %}
    <header>
        header
    </header>
    <section>
        section
    </section>
    <footer>
        footer
    </footer>
{% endblock %}