{% extends '::base.html.twig' %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/aapbluebirds/css/bootstrap.min.css') }}">
{% endblock %}

{% block javascripts %}
    <script data-main="{{ asset('bundles/aapbluebirds/js/bb4') }}" src="{{ asset('bundles/aapbluebirds/js/3rd-party/require.js') }}"></script>
{% endblock %}

{% block body %}
    <header>
        {% block header %}{% endblock %}
    </header>
    <section id="main">
        {% block section %}{% endblock %}
    </section>
    <footer>
        {% block footer %}{% endblock %}
    </footer>
{% endblock %}