{% extends '::base.html.twig' %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/aapbluebirds/styles/screen.css') }}">
{% endblock %}

{% block body %}
    <header>
        {% render 'AapBluebirdsBundle:Mainmenu:menuItems' %}
        {% block header %}{% endblock %}
    </header>
    <section id="main">
        {% block section %}{% endblock %}
    </section>
    <footer>
        {% block footer %}{% endblock %}
    </footer>
{% endblock %}