{% extends '::base.html.twig' %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/aapbluebirds/css/bootstrap.min.css') }}">
{% endblock %}

{% block javascripts %}
    <script data-main="{{ asset('bundles/aapbluebirds/js/admin') }}" src="{{ asset('bundles/aapbluebirds/js/3rd-party/require.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="#">BB4</a>
            </div>
        </div>
    </div>
    <div class="container" id="content"></div>
    {% block templates %}
    {% endblock %}
{% endblock %}