{% extends 'AapBluebirdsBundle::layout.html.twig' %}

{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/aapbluebirds/styles/bootstrap_demo.css') }}">
{% endblock %}

{% block body %}
    <h1>Bootstrap demo</h1>
    <section id="animation">
        <a href="#">animate on hover</a>
    </section>
{% endblock %}